@model string

@{
    ViewData["Title"] = "Home Page";

}

<style>
    #showOnScreen {
        background: green;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
</style>


<form asp-controller="Home" asp-action="UploadFile" method="post"  
      enctype="multipart/form-data">  
      
    <input type="file" name="file" id="file" />  
</form> 

@if(!string.IsNullOrEmpty(Model))
{
    <form asp-controller="Home" asp-action="SendFileInfoToDatabase" method="post" style="margin-top:30px"> 
        <input name="path" value="@Model" style="display:none"/>
        <button type="submit" id="showOnScreen">məlumatları ekranda göstər</button>
    </form> 
}


<script>
    document.getElementById('file').onchange = function() {
      this.form.submit();
    };
</script>